-r requirements.txt
pytest==9.0.3
pytest-asyncio==1.3.0
pre_commit==4.5.1
commitizen==4.13.10
httpx==0.28.1
iniconfig==2.3.0
packaging==26.1
pluggy==1.6.0
Pygments==2.20.0
virtualenv==21.2.4
cfgv==3.5.0
identify==2.6.18
nodeenv==1.10.0
platformdirs==4.9.6
PyYAML==6.0.3
tomlkit==0.14.0
argcomplete==3.6.3
colorama==0.4.6
decli==0.6.3
Deprecated==1.3.1
distlib==0.4.0
filelock==3.28.0
Jinja2==3.1.6
MarkupSafe==3.0.3
prompt_toolkit==3.0.51
python-discovery==1.2.2
questionary==2.1.1
termcolor==3.3.0
wcwidth==0.6.0
wrapt==2.1.2
aiosqlite==0.22.1
